<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
   <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     <app-sidebar></app-sidebar>
      <!-- partial -->
<br>

 
 
<!--<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Admin Details</h2>
  <button class="btn btn-danger" style="width:100px" (click)="create()"> Add Admin</button>
  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>Email</th>
      <th>Password</th>
    
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.email}}</td>
      <td>{{user.Password}}</td>
      
      <td><button class="btn btn-success" (click)="delete(user)"> Delete</button>
        <button class="btn btn-success" (click)="update(user)" style="margin-left: 20px;"> Edit</button></td>
    </tr>
    </tbody>
  </table>
</div>-->




     
    <div class="main-panel">
        <div class="table-responsive">
          <br>
Liste des utilisateur 
        <br>
          <table class="table">
            <thead>
             <tr>
			  <th class="hidden">Id</th>
        <th>Email</th>
      
        <th>Nom</th>
        <th>Prenom</th>

			</tr>
            </thead>
            <tbody>
			<tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>{{user.email}}</td>
     
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
      
      <td><button class="btn btn-icons btn-rounded btn-light" (click)="update(user)" > <i class="fa fa-edit" style="font-size:20px"></i></button>
<button class="btn btn-icons btn-rounded btn-light" (click)="delete(user)"> <i class="fa fa-trash" style="font-size:20px"></i></button></td>
       <!-- <button class="file-upload-browse btn btn-info" (click)="update(user)" style="margin-left: 20px;"><i class="fa fa-trash" style="font-size:20px"></i></button></td>-->
    </tr>
			
             <!-- <tr>
                
                <td>nouha@gmail.com</td>
                <td>12345678</td>
                <td><i class="fa fa-edit" style="font-size:20px"></i></td>
            <td><i class="fa fa-trash" style="font-size:20px"></i></td>
              </tr>-->

             
            </tbody>
          </table>
        </div>
       
      </div> 


      
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
 
</body>












