<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
   <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     <app-sidebar></app-sidebar>
      <!-- partial -->
<br>

     
    <div class="main-panel">
        <div class="table-responsive">
          <br>
          <button  class="btn btn-icons btn-rounded btn-info" routerLink="/admin/add-cafe"><i class="mdi mdi-plus" ></i></button>
   
        <br>
          <table class="table">
            <thead>
             <tr>
			  <th class="hidden">Id</th>
			  <th> Dénomination</th>
        <th>Type</th>
       <!-- <th>Photo</th>-->
        <th>Adresse</th>
        <th>Menu Fourchette</th>
        <th>Email</th>
			</tr>
            </thead>
            <tbody>
			<tr *ngFor="let cafe of cafes">
      <td class="hidden">{{cafe.id}}</td>
      <td>{{cafe.Denomination}}</td>
      <td>{{cafe.Type}}</td>
    <!--  <td>{{cafe.Photo}}</td>-->
      <td>{{cafe.Adresse}}</td>
      <td>{{cafe.Menufourchette}}</td>
      <td>{{cafe.Email}}</td>
      <td><button class="btn btn-icons btn-rounded btn-light" (click)="update(user)" > <i class="fa fa-edit" style="font-size:20px"></i></button>
<button class="btn btn-icons btn-rounded btn-light" (click)="delete(user)"> <i class="fa fa-trash" style="font-size:20px"></i></button></td>
       <!-- <button class="file-upload-browse btn btn-info" (click)="update(user)" style="margin-left: 20px;"><i class="fa fa-trash" style="font-size:20px"></i></button></td>-->
    </tr>
			
             <!-- <tr>
                
                <td>nouha@gmail.com</td>
                <td>12345678</td>
                <td><i class="fa fa-edit" style="font-size:20px"></i></td>
            <td><i class="fa fa-trash" style="font-size:20px"></i></td>
              </tr>-->

             
            </tbody>
          </table>
        </div>
       
      </div> 


      
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
 
</body>












