 <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
   <app-header></app-header>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
     <app-sidebar></app-sidebar>
      <!-- partial -->
 
 <div class="col-md-6 grid-margin stretch-card" id="add">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">Add Event</h4>
			
			<form [formGroup]="registerForm" (ngSubmit)="go()" >
				<div class="form-group">
					<label for="exampleInputName1">Nom de l'évenement</label>
					<input type="text" class="form-control" id="exampleInputName1" placeholder="Nom" formControlName="nom" [ngClass]="{ 'is-invalid':  submitted && f.nom.errors }">
					<div *ngIf="submitted && f.nom.errors" class="invalid-feedback">
                    <div *ngIf="f.nom.errors.required">nom est vide </div>
					</div>
				</div>
				<div class="form-group">
					<label for="exampleTextarea1">Description</label>
					<textarea class="form-control" id="exampleTextarea1" rows="2" formControlName="description" [ngClass]="{ 'is-invalid':  submitted && f.description.errors }"></textarea>
					<div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                    <div *ngIf="f.description.errors.required">Description est vide </div>
					</div>
				</div>
				 <div class="form-group">
                         <label for="exampleTextarea1">Date</label>
                          
                            <input class="form-control" placeholder="jj/mm/aaaa" formControlName="date" [ngClass]="{ 'is-invalid':  submitted && f.date.errors }"/>
							<div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                    <div *ngIf="f.date.errors.required">Date est vide </div>
					<div *ngIf="f.date.errors.minlength">saisir date au format jj/mm/aaaa</div>
					<div *ngIf="f.date.errors.maxlength">saisir date au format jj/mm/aaaa</div>
					</div>
                        
                        </div>
				
				<!-- <div class="form-group">
					<label for="exampleInputCity1">Location</label>
					<input type="text" class="form-control" id="exampleInputCity1" placeholder="Location" formControlName="image" [ngClass]="{ 'is-invalid':  submitted && f.nom.errors }">
				</div> -->
				<!-- <div class="form-group">
					<label>File upload</label>
					<input type="file" name="img[]" class="file-upload-default">
					<div class="input-group col-xs-12">
						<input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image"  formControlName="image" [ngClass]="{ 'is-invalid':  submitted && f.nom.errors }">
						<span class="input-group-append">
							<button class="file-upload-browse btn btn-info" type="button">Upload</button>
						</span>
					</div>
				</div> -->
				<button type="submit" class="btn btn-success">Add Event <i class="mdi mdi-plus"></i></button>
			
			</form>
		</div>
	</div>
</div> 
</div></div>
