    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form [formGroup]="loginForm" (ngSubmit)="go()">
			  
                <div class="form-group">
                  <label class="label">Email</label>
                  <div class="input-group">
                    <input type="email" id="email" for="email" class="form-control"  placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':  submitted && f.email.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email est vide</div>
                    <div *ngIf="f.email.errors.email">email invalid</div>
                  </div>

                  </div>
                </div>
                <div class="form-group">
                  <label class="label">Mot de passe</label>
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="*********"  formControlName= "password" [ngClass]="{ 'is-invalid':  submitted && f.password.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Mot de passe est vide</div>
                    <div *ngIf="f.password.errors.minlength">au moin 8 Caractères</div>
                  </div>

                  </div>
                </div>
                <div class="form-group">
                  <button  class="btn btn-primary submit-btn btn-block" type="submit" >Connexion</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <!-- <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div> -->
                  <a href="#" class="text-small forgot-password text-black">mot de passe oublié</a>
                </div>
                <div class="form-group">
                  <button class="btn btn-block g-login">
                    <img class="mr-3" src="assets/images/file-icons/icon-google.svg" alt="">Connecter avec Google</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Non un membre ?</span>
                  <a routerLink="/register" class="text-black text-small">Creé un nouveau compte</a>
                </div>
              </form>
            </div>
            <ul class="auth-footer">
              <li>
                <a href="#">Conditions</a>
              </li>
              <li>
                <a href="#">Help</a>
              </li>
              <li>
                <a href="#">Terms</a>
              </li>
            </ul>
            
          </div>
        </div>
      </div> 
      <!-- content-wrapper ends -->
</div> 
    <!-- page-body-wrapper ends -->



<!-- 
  <h1 style="text-align:center">
    Angular Login Example
  </h1>
  <div class="login">
    <h2 class="login-header">Log in</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
  
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div>
   -->
  