<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
         
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Présentation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Les membre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
		   <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">A propos</a>
          </li>
		  
		  <li class="nav-item">
            <a class="nav-link js-scroll-trigger" routerLink="/login">Connexion</a>
          </li>
		  
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">El jem 360° <br> votre guide</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5"> Télécharger  notre application et amuser de découvrir "El Jem" <br> Download our application and Enjoy discovery "El Jem"  </p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">Tout sur l’application El Jem 360°!</h2>
          <hr class="divider light my-4">
		</div>
          <p class="text-white-50 mb-4">Une application digitale qui regroupe les meilleures prestations touristiques et culturelles sur la région du "El Jem".
Découvrez les richesses architecturales, naturelles, minières et  historiques du "El Jem".
Des expériences vécues par des initiés du tourisme durable pour vous rapprocher des traditions et des coutumes locales du "El Jem"</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
       
      </div>
    </div>
  </section>
  
<section class="page-section" id="services">
    <div class="container">
      <h2 class="text-center mt-0">Présentation</h2>
      <hr class="divider my-4">
      <div class="text-center mt-0">
	  
	 <img  align="center" src="assets/assets2/img/interfaces.jpg"  height="500" width="600"  alt=""/>
		</div>
		<div class="row">
        <div class="col-lg-3 col-md-6 text-center">
  <!-- Services Section -->
 
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-gem text-primary mb-4"></i>-->
			
			 <div class="flip-box-front" style="background-color:rgb(19, 199, 175); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Où dormir?</h2> </div></div>
			
            <!--<h3 class="h4 mb-2">Sturdy Themes</h3>-->
            <p class="text-muted mb-0">Une large sélection de maisons d’hôtes, hôtels, gîtes et auberges</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>-->
           <h3 class="h4 mb-2"></h3>
		   <div class="flip-box-front" style="background-color: rgb(245, 122, 98); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Manger !</h2> </div></div>
            <p class="text-muted mb-0">Une large sélection des meilleurs restaurants et tables d’hôtes.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-globe text-primary mb-4"></i>-->
		   <div class="flip-box-front" style="background-color: rgb(59, 154, 198); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Découvrir !</h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Nos excursions à la carte: Althiburos, Hammam Mellègue, La Table de Jugurtha…</p>
          </div>
        </div>
	<br>
	<br>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i>-->
		   <div class="flip-box-front" style="background-color: rgb(196, 65, 65); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Evénements</h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Musique, théâtre et fêtes populairese</p>
          </div>
        </div>
      
	
	<div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i>-->
		 <div class="flip-box-front" style="background-color: rgb(166, 108, 187); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Art de vivre </h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Tapis, produits du terroir et saveurs culinaires au rendez vous</p>
          </div>
        </div>
      
	
	<div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i>-->
		 <div class="flip-box-front" style="background-color: rgb(189, 138, 97); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Expériences</h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Partagez vos expériences !</p>
          </div>
        </div>
		
		<div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i>-->
		 <div class="flip-box-front" style="background-color: rgb(45, 138, 97); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Localisation</h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Trouver votre distination facilement</p>
          </div>
        </div>
		
		<div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
           <!-- <i class="fas fa-4x fa-heart text-primary mb-4"></i>-->
		 <div class="flip-box-front" style="background-color: rgb(100, 15, 30); border-color: rgba(255, 255, 255, 0); border-radius: 4px; border-style: solid; border-width: 1px; color: rgb(209, 209, 209);"><div class="flip-box-front-inner" style=""><div class="flip-box-grafix flip-box-circle" style="background-color:rgba(0,0,0,.1);border-color:rgba(255,255,255,0);"><i class="fa fa-thumbs-o" style="color:#ffffff;"></i></div><h2 class="flip-box-heading" style="color: rgb(255, 255, 255); font-size: 23.208px; line-height: 26.109px;" data-fontsize="24" data-lineheight="27">Liens utiles</h2></div></div>
            <h3 class="h4 mb-2"></h3>
            <p class="text-muted mb-0">Des informations pratique </p>
          </div>
        </div>

      </div>
    </div>
	
	
	
  </section>

  <!-- Portfolio Section -->
  
  
  
  
  <!-- les auters -->
  
   <section class="container-fluid p-0"  id="portfolio">
    <div class="container-fluid p-0">
	<br><br><br>
      <h2 class="text-center mt-0">Membres de l'equipe</h2>
      <hr class="divider my-4" >
      <div class="row">
              <div class="container">
  

            <div class="row">
                <!-- <div class="col-md-3 col-sm-6"> -->
                    <!-- <div class="our-team"> -->
                        <!-- <img src="assets/assets2/images/team4-large.jpg"  alt=""/> -->
                        <!-- <div class="team-content"> -->
                            <!-- <h3 class="title">Nouha Khouili</h3> -->
                            <!-- <span class="post">Développeur web<br>Designer web -->
							<!-- </span> -->
                            <!-- <ul class="social-links"> -->
                                <!-- <li><a href="https://www.facebook.com/khouilinouha"><i class="fa fa-facebook"></i> </a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-google-plus"></i> </a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-twitter"></i> </a></li> -->
                                <!-- <li><a href="https://www.linkedin.com/in/nouha-khouili-a3222115a/"><i class="fa fa-linkedin"></i> </a></li> -->
                                <!-- <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li> -->
                            <!-- </ul> -->
                        <!-- </div> -->
                    <!-- </div> -->
                <!-- </div> -->
				
				
				
				                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/team4-large.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Nouha Khouili</h3>
                            <span class="post">Développeur mobile <br> Développeur web</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/khouilinouha"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="https://www.linkedin.com/in/nouha-khouili-a3222115a/"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/team4-large.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Narjes Delly</h3>
                            <span class="post">Développeur mobile</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/profile.php?id=100005378356425"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="https://www.linkedin.com/in/narjes-delly-b66116176/"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
				
				<div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/Sam-Revilter.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Karim Marmouri</h3>
                            <span class="post">web developer</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/marmouri.karim"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>


               

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/team4-large.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Omayma Amor</h3>
                            <span class="post">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/profile.php?id=100008455661056"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
				<br><br><br>
			
				
            </div>
			
			
			
        </div>
	  </div>
	  
	  <br><br><br>
	  
	  
	        <div class="row">
              <div class="container">
  

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/Affluent-Women-Mailing-Lists.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Aymen </h3>
                            <span class="post">web developer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
				
				
				 <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/Sam-Revilter.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Yassmine </h3>
                            <span class="post">web developer</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/BACCAR.YASMINE"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/person-2.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Mohamed Hèdi Sayadi</h3>
                            <span class="post">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/mohamedhadi.sayadi.9"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                
                <div class="col-md-3 col-sm-6">
                    <div class="our-team">
                        <img src="assets/assets2/images/team4-large.jpg" alt=""/>
                        <div class="team-content">
                            <h3 class="title">Miranda joy</h3>
                            <span class="post">Web Designer</span>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook"></i> </a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i> </a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i> </a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i> </a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i> </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
				<br><br><br>
			
				
            </div>
			
			
			
        </div>
	  </div>
	  
	  
	</div>
	
	 <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center"></div>
	</div>
	
	 <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
       <a class="btn btn-light btn-xl" href="https://startbootstrap.com/themes/creative/">Download Now!</a>
    </div>
  </section>
   
  </section>

 

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Let's Get In Touch!</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">Ready to start your next project with us? Give us a call or send us an email and we will get back to you as soon as possible!</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+(216)98277637 / 73633380</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:Ridha.eljem@gmail.com">Ridha.eljem@gmail.com</a>
        </div>
      </div>
    </div>
  </section>
  
 <!-- Portfolio Section -->
  <section id="portfolio">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/jem1.jpg">
            <img class="img-fluid" src="assets/assets2/img/jem1.jpg" alt="" >
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
               
              </div>
              <div class="project-name">
ElJem 360°
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/dareljem1.jpg">
            <img class="img-fluid" src="assets/assets2/img/dareljem1.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                
              </div>
              <div class="project-name">
                ElJem 360°
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/dareljem2.jpg">
            <img class="img-fluid" src="assets/assets2/img/dareljem2.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
              
              </div>
              <div class="project-name">
                ElJem 360°
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/dareljem3.jpg">
            <img class="img-fluid" src="assets/assets2/img/dareljem3.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                <!-- Category -->
              </div>
              <div class="project-name">
               ElJem 360°
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/pregos.jpg">
            <img class="img-fluid" src="assets/assets2/img/pregos.jpg" alt="">
            <div class="portfolio-box-caption">
              <div class="project-category text-white-50">
                <!-- Category -->
              </div>
              <div class="project-name">
               ElJem 360°
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-sm-6">
          <a class="portfolio-box" href="assets/assets2/img/pregos1.jpg">
            <img class="img-fluid" src="assets/assets2/img/pregos1.jpg" alt="">
            <div class="portfolio-box-caption p-3">
              <div class="project-category text-white-50">
                <!-- Category -->
              </div>
              <div class="project-name">
ElJem 360°
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>

  

</body>
