
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <!-- <h2 class="text-center mb-4">Register</h2> -->
            <div class="auto-form-wrapper">
              <form [formGroup]="registerForm" (ngSubmit)="go()">
                <div class="form-group">
                  <div class="input-group">
                    <input type="email" id="email" for="email" class="form-control"  placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':  submitted && f.email.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
					<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">email est vide</div>
                    <div *ngIf="f.email.errors.email">email invalid</div>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" placeholder="Mot de passe" name="password" formControlName= "password" [ngClass]="{ 'is-invalid':  submitted && f.password.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
					<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Mot de passe est vide</div>
                    <div *ngIf="f.password.errors.minlength">au moin 8 Caractères  </div>
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control"  appCompareValidator="password" placeholder="Confirme mote de passe"  formControlName= "confirmPassword" [ngClass]="{ 'is-invalid':  submitted && f.confirmPassword.errors }">
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-check-circle-outline"></i>
                      </span>
                    </div>
            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmPassword.errors.required">confirme mot de passe est vide</div>
              <div *ngIf="!f.confirmPassword.errors.required && f.confirmPassword.errors.appCompareValidator">mot de passe non confirmé</div>
          </div>
                    </div>
                 
                </div>
                <div class="form-group d-flex justify-content-center">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> J'accepte 
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Registrer</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Déja vous avez un compte ?</span>
                  <a routerLink="/login" class="text-black text-small">Connexion</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    